:host {
  display: flex;
  gap: 4px;
  align-items: center;
  width: 100%;
  overflow: hidden;

  .item-container {
    min-width: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.measure {
  opacity: 0;
  flex: none !important;
}

.hidden-items {
  color: var(--color-on-surface);
  padding: 2px 8px 2px 6px;
  border-radius: 45%;
  transition: background-color 0.3s ease-in-out;

  &:hover {
    background-color: var(--color-surface-container-highest);
  }
}
