<span
  class="tooltip-wrapper"
  [delay]="500"
  [action]="'leave'"
  (smHesitate)="hesitateMenu.hesitateStatus && tooltipMenu.closed.emit()"
>
    <mat-icon
      smClickStopPropagation
      fontSet="al"
      class="pointer"
      [fontIcon]="iconClass() ?? 'al-ico-info-circle'"
      [class.xs]="smallIcon()"
      [delay]="100"
      [action]="'enter'"
      (smHesitate)="trigger.openMenu(); hesitateMenu.hesitateStatus= true"
    ></mat-icon>
  <span #trigger="matMenuTrigger" [matMenuTriggerFor]="tooltipMenu" smClickStopPropagation></span>
</span>

<mat-menu #tooltipMenu="matMenu" [xPosition]="'after'" [yPosition]="position()" [hasBackdrop]="false" [class]="'multiline-tooltip'">
  <div
    class="tooltip-container"
    [class.word-break]="wordBreak()"
    [delay]="500"
    [action]="'leave'"
    (smHesitate)="tooltipMenu.closed.emit()"
    #hesitateMenu="hesitate"
  >
    <ng-content></ng-content>
  </div>

</mat-menu>
