
:host {
  .content {
    height: inherit;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .search-container {
    display: flex;
    justify-content: center;

    sm-search {
      width: 300px;
    }

    sm-show-only-user-work {
      margin-left: 12px;
    }
  }

  .regexp {
    position: absolute;
    right: 8px;

    &.active {
      color: var(--color-on-primary);
      background-color: var(--color-primary);
    }

    &.error {
      width: 20px;
      right: 36px;
    }
  }
}
