<sm-search-results-table
  [loading]="loadMoreActive()"
  [userId]="currentUser().id"
  [links]="links()"
  [filters]="filters()"
  (projectSelected)="projectCardClicked($event)"
  (experimentSelected)="taskSelected($event)"
  (openDatasetVersionSelected)="openDatasetVersionSelected($event)"
  (modelSelected)="modelSelected($event)"
  (pipelineSelected)="pipelineSelected($event)"
  (pipelineRunSelected)="pipelineRunSelected($event)"
  (reportSelected)="reportSelected($event)"
  (activeLinkChanged)="changeActiveLink($event)"
  (openDatasetSelected)="openDatasetCardClicked($event)"
  (loadMoreClicked)="loadMore()"
  (closeDialog)="closeDialog()"
  [projectsList]="projectsResults$ | ngrxPush"
  [tasksList]="experimentsResults$ | ngrxPush"
  [modelsList]="modelsResults$ | ngrxPush"
  [datasetsList]="openDatasetsResults$ | ngrxPush"
  [openDatasetVersionsList]="experimentsResults$ | ngrxPush"
  [pipelinesList]="pipelinesResults$ | ngrxPush"
  [pipelineRunsList]="experimentsResults$ | ngrxPush"
  [reportsList]="reportsResults$ | ngrxPush"
  [resultsCount]="resultsCount$ | ngrxPush"
  [activeLink]="activeLink()"
></sm-search-results-table>
