:host {
  display: flex;
  align-items: center;
  z-index: 1;
  position: relative;

  .search-icon-container {
    width: 284px;
    position: absolute;

    .search-icon {
      transition: left 0.35s ease-in-out;
      left: 0;
      z-index: 1;


      &.open {
        left: 247px;
      }

      .al-ico-search {
        color: var(--color-primary);
      }

    }
  }

  .search-container {
    width: 0;
    overflow: hidden;
    transition: width 0.35s ease-in-out;
    display: inline-block;

    &.open {
      width: 284px;
      margin-right: 20px;
    }
  }

  .regexp {
    position: absolute;
    right: 36px;

    &.active {
      color: var(--color-on-primary);
      background-color: var(--color-primary);
    }

    &.error {
      width: 20px;
    }
  }

  .al-ico-error-circle {
    right: 60px;
  }

  .al-ico-dialog-x {
    transform: scale(0.9);
  }
}
