:host {
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.toggle-all-text {
  display: flex;
  margin-top: 12px;
  padding: 0 24px;
  > span  {
    font-size: 11px;
    color: var(--color-outline);
    cursor: pointer;
    &:hover {
      color: var(--color-hover);
    }
  }

  > span:first-child {
  margin-left: auto;
  }
}

i.toggle-icon {
  font-size: 15px;
  height: 18px;
  padding-left: 5px;

  &.unchecked {
    opacity: 0.4;
  }
}

sm-search {
  padding: 24px 24px 0;
}
