:host {
  sm-table {
    display: block;
    height: 100%;
  }

  .table-container {
    height: 100%;
    width: 100%;
  }

  sm-table-card-filter {
    margin-left: 1em;
  }
}

.model-name {
  color: var(--color-on-primary-container);
  font-weight: normal;

  &.selected {
    color: var(--color-on-primary);
  }
}

.center-message {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.enter {
  animation: fade-in ease-in 0.25s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.leaving {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
