.mat-mdc-tab-group {
  --mat-tab-header-label-text-size: 14px;
  border-bottom: 1px solid var(--color-outline-variant);
  margin: 24px 0;
  height: 49px;

}

.page-container {
  height: calc(90vh - 224px);
  width: calc(90vw - 96px);
  margin-top: 18px;

  .no-data {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--color-outline);
  }
}
