@use '@angular/material' as mat;

@use "sass:meta";
@forward "../assets/fonts/trains-icons.scss";
@forward "reboot";
@forward "minimal-bootstrap";
@forward "layout";
@forward "utilities";
@forward "customizations";
@forward "icons"; //needs a clean from sass vars
@forward "../angular-notifier/styles/core";
@forward "../angular-notifier/styles/types/type-default";
@forward "../angular-notifier/styles/themes/theme-material.scss";
@forward "notifications";
@forward "printing";
@use "themes";
@use "customizations";

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--color-shadow);
  }
}

:root {
  @include mat.all-component-themes(themes.$theme);
  @include mat.system-level-colors(themes.$theme);
  @include customizations.components(themes.$theme);

  &.dark-mode {
    @include mat.all-component-colors(themes.$dark-theme);
    @include mat.system-level-colors(themes.$dark-theme);
    @include customizations.components(themes.$dark-theme);
  }
}

@include meta.load-css("src/app/shared/custom-styles");
