@use "variables";
@use "../../layout/layout";

.progress-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(2, 2, 2, 0.07);
  width: 100%;
  height: layout.$project-info-progress-height;
  opacity: 1;
  text-align: center;
  color: #596386;
  font-weight: 500;
  font-size: 11px;
  background-color: #FFFFFF;
  transition: variables.$transition-fast;


  &.published {
    background-color: var(--color-published);
  }

  &.in_progress {
    background-color: #50e3c2;
  }

  &.queued {
    background-color: #c4f0e4;
  }

  &.created {
    background-color: #dbdee6;
  }

  &.failed {
    background-color: var(--color-failed);
  }

  &.completed, &.stopped {
    background-color: var(--color-completed);
  }
}
