$user-row-height: 36px;

:host {
  .creat-new-suffix {
    display: inline-block;
    margin-right: 18px;
    font-size: 14px;
    transform: translateY(-3px);
  }

  mat-form-field {
    width: 100%;
    z-index: 1;

  }

  ::ng-deep .mat-mdc-form-field-flex {
    .mat-mdc-form-field-icon-suffix > .mat-icon {
      padding: 0;
    }
  }
}
